# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# generating reversed document
README.txt
txt.EMDAER

#vim swap file
*.swp

.clang-format
.clang-tidy

#test build directory
test_build

compile_*
test*

#helper tools
_*.py
_*.sh

/.vim/
*.orig
